name: Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'

env:
  BUILD_TOOLS_VERSION: 35

jobs:
  build-github:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Release APK
        id: buildRelease
        run: ./gradlew assembleGithubRelease

      - name: Upload Release APK
        uses: actions/upload-artifact@v6
        if: success()
        with:
          path: app/build/outputs/apk/github/release/*.apk
